.chat__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-left: 5px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  align-self: flex-start;
  flex-grow: 1;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: var(--border-default);
  border-radius: var(--border-radius);
  padding: 10px;
  flex-grow: 1;
  box-sizing: border-box;
}

.chat__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: var(--border-default);
}

.chat__room-name,
.chat__room-description,
.chat__close {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.chat__room-name,
.chat__room-description {
  align-items: center;
  padding: var(--padding-text);
  box-sizing: border-box;
  margin-right: 10px;
}

.chat__room-name {
  font-size: 2rem;
  border-right: var(--border-default);
}
.chat__room-description {
  font-size: 1.5rem;
}

.chat__close {
  display: flex;
  justify-content: flex-end;
}
.chat__close button {
  background-color: #f16f8e;
  align-self: center;
}

.chat__text {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 10px;
  background-color: rgba(45, 140, 255, 0.1);
  border-radius: var(--border-radius);
  overflow-y: scroll;
  box-sizing: border-box;
  padding-top: 20px;
}

.chat__text li {
  display: flex;
  flex-direction: column;
}

.chat__text span {
  padding: var(--padding-text);
  font-size: 1.5rem;
  word-break: break-all;
}

.chat__message {
  border: none;
  border-radius: var(--border-radius);
}

.chat--align-left {
  align-self: flex-start;
  margin: 2px 30px 2px 10px;
}
.chat--align-left .chat__message {
  background-color: white;
}

.chat--align-right {
  align-self: flex-end;
  margin: 2px 10px 2px 30px;
}
.chat--align-right .chat__message {
  background-color: #f8f85e;
}

.chat--align-center {
  align-self: center;
  margin: 2px 30px 2px 30px;
}
.chat--align-center .chat__message {
  background-color: #c7d5e7;
}

.chat__send {
  display: flex;
  width: 100%;
}

.chat__send input {
  outline: none;
  font-size: 1.2rem;
  margin-right: 10px;
  padding: var(--padding-input);
  border: var(--border-default);
  border-radius: var(--border-radius);
  width: 100%;
}
.chat__send input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.chat__send input:focus {
  border-color: var(--logo-color);
}

.chat__send button {
  align-self: center;
}
