input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label,
input[type='checkbox']:checked + label::after {
  width: var(--font-small);
  height: var(--font-small);
  border-radius: var(--border-radius-checkbox);
}

input[type='checkbox'] + label {
  border: var(--border-default);
  display: inline-block;
  position: relative;
}

input[type='checkbox']:checked + label::after {
  content: '✔';
  font-size: var(--font-micro);
  text-align: center;
  position: absolute;
  left: calc(-1 * var(--border-width));
  top: calc(-1 * var(--border-width));
  background-color: var(--blue-color);
  color: var(--white-color);
}

input[type='checkbox'],
input[type='checkbox'] ~ label {
  cursor: pointer;
}

input[type='checkbox'] + label + label {
  padding-left: calc(var(--space-default) / 2);
}
