.submit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.submit form {
  width: 100%;
}
.submit button {
  width: 100%;
}

.submit__user,
.submit__room {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius);
  border: var(--border-default);
  padding: var(--space-default);
}

.submit__text {
  width: 100%;
  outline: none;
  border-radius: var(--border-radius);
  border: var(--border-default);
  font-size: var(--font-medium);
  padding: var(--padding-text);
  margin-bottom: var(--space-default);
}
.submit__text::placeholder {
  color: var(--grey-light-color);
}
.submit__text:focus {
  border-color: var(--blue-color);
}

/* User */
.submit__user {
  margin-bottom: var(--space-default);
}
.submit__device {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-default);
}
.submit__mike,
.submit__camera {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
}

/* Room */
.submit__room {
  margin-bottom: var(--space-default);
}
.submit__greeting {
  font-size: var(--font-medium);
  text-align: center;
  margin-bottom: var(--space-default);
}
