.video__wrapper {
  height: 100%;
  width: auto;
  padding: 10px;
  padding-right: 5px;
  box-sizing: border-box;
}

.video {
  height: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--border-default);
  border-radius: var(--border-radius);
  padding: 10px;
  box-sizing: border-box;
}

.video__face {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  width: 100%;
  padding-top: 75%;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.video__my-video,
.video__peer-video {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  object-fit: fill;
  align-self: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
}

.video__device {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.video__mike,
.video__camera {
  display: flex;
  justify-content: space-between;
}

.video__mike {
  margin-bottom: 5px;
}
