doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css")
        link(rel="stylesheet", href="/public/css/styles.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet")
        title Zzoom
        link(rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico")
    body
        header
            a#logo(href="") 
                i.fa-solid.fa-video.fa-lg
                label(for="logo") Zzoom
        main
            div#home.home
                div.submit
                    div#saveNickname.submit__user
                        form
                            input.submit__text#nickname(placeholder="nickname", required, type="text")
                            div.submit__mike
                                input#mikeOff(type="checkbox")
                                label(for="mikeOff") Mike Off
                            div.submit__camera
                                input#cameraOff(type="checkbox")
                                label(for="cameraOff") Camera Off
                            button Save
                    div#enterRoom.submit__room
                        span Please save your nickname first.
                        form
                            input.submit__text#roomName(placeholder="room name", required, type="text")
                            button(disabled) Enter Room
                div.room-list
                    div.room-list__wrapper
                        span Open Rooms
                        ul#roomList

            div#call.call
                div.video
                    div#callHeader.video__header
                        span
                        span
                    video.video__my-video#myFace(autoplay, playsinline, width="400", height="400", muted)
                    span.video__my-name
                    video.video__peer-video#peerFace(autoplay, playsinline, width="400", height="400")
                    span.video__peer-name
                    span
                    div#device.video__device
                        div.video__mike
                            select#mikes
                            button#muteBtn Mute
                        div.video__camera
                            select#cameras
                            button#cameraBtn Turn Camera Off
                div#chat.chat
                    span.chat__header Chat
                    ul.chat__text
                    form.chat__send
                        input#message(placeholder="message", required, type="test")
                        button Send
                    a.call__close(href="") Close
        footer &copy; 2022. defrostingk All rights reserved.

        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")