doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css")
        link(rel="stylesheet", href="/public/css/styles.css")
        title ZZoom
    body
        header
            a#logo(href="") 
                i.fa-solid.fa-video.fa-lg
                label(for="title") ZZoom
            h1 
            h3 
        main 
            div#saveNickname
                form
                    input#nickname(placeholder="nickname",required, type="text")
                    input#mikeOff(type="checkbox")
                    label(for="mikeOff") Mike Off
                    input#cameraOff(type="checkbox")
                    label(for="cameraOff") Camera Off
                    button Save
            div#enterRoom
                form
                    input#roomName(placeholder="room name",required, type="text")
                    button Enter Room
                h3 Open Rooms
                ul
            div#call
                div#myStream
                    video#myFace(autoplay, playsinline, width="400", height="400", muted)
                    button#muteBtn Mute
                    button#cameraBtn Turn Camera Off
                    video#peerFace(autoplay, playsinline, width="400", height="400")
                    div#device
                        select#cameras
                        select#mikes
                div#chat
                    h3 Chat
                    ul
                    form
                        input#message(placeholder="message", required, type="test")
                        button Send
                a(href="") Close
        footer &copy; #{new Date().getFullYear()} ZZoom

        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")