/* Config */
@import url('../css/config/_reset.css');
@import url('../css/config/_variables.css');

/* Components */
@import url('../css/components/header.css');
@import url('../css/components/footer.css');
@import url('../css/components/button.css');
@import url('../css/components/select.css');
@import url('../css/components/checkbox.css');
@import url('../css/components/submit.css');
@import url('../css/components/room-list.css');
@import url('../css/components/video.css');
@import url('../css/components/chat.css');

/* Screens */
@import url('../css/screens/home.css');
@import url('../css/screens/call.css');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--grey-dark-color);
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Hide Scroll */
html,
.chat__text,
.chat__send textarea {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar,
.chat__text::-webkit-scrollbar,
.chat__send textarea::-webkit-scrollbar {
  display: none;
}
