/* Config */
@import url('../css/config/_reset.css');

/* Screens */
@import url('../css/screens/home.css');
@import url('../css/screens/call.css');

/* Components */
@import url('../css/components/header.css');

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: #2d8cff;
}
