/* Config */
@import url('../css/config/_reset.css');
@import url('../css/config/_variables.css');

/* Components */
@import url('../css/components/header.css');
@import url('../css/components/footer.css');
@import url('../css/components/button.css');
@import url('../css/components/submit.css');
@import url('../css/components/room-list.css');

/* Screens */
@import url('../css/screens/home.css');
@import url('../css/screens/call.css');

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: var(--font-color);
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--logo-color);
}
