:root {
  /* Color */
  --grey-dark-color: #343434;
  --grey-color: #b2b2b2;
  --grey-light-color: #e5e5e5;
  --white-color: #ffffff;
  --blue-color: #2d8cff;
  --blue-light-color: #e9f3ff;
  --blue-grey-color: #c7d5e7;
  --red-color: #f16f8e;
  --yellow-color: #f8f85e;

  /* Border */
  --border-width: 2px;
  --border-default: var(--border-width) solid var(--grey-light-color);
  --border-radius: 0.6rem;
  --border-radius-checkbox: 0.3rem;

  /* Font Size */
  --font-header: 3rem;
  --font-large: 2rem;
  --font-medium: 1.5rem;
  --font-small: 1rem;
  --font-micro: 0.75rem;

  /* Size */
  --space-default: 0.75rem;
  --padding-text: 0.25em 0.5em;
  --footer-height: calc(var(--font-large) * 4);

  /* Shadow */
  --shadow--width: 2px;
  --shadow-default: var(--shadow--width) var(--shadow--width)
    var(--shadow--width) var(--grey-dark-color);
}
