.call__main {
  width: 100%;
  height: 100%;
}

.call {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

/* Call Header */
.call__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(var(--font-small) * 3.5);
  width: 100%;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: var(--white-color);
  visibility: hidden;
  transform: translateY(calc(var(--font-small) * -3.5));
  transition: all var(--transition-duration) ease-in-out;
}
.call__header.visible {
  visibility: visible;
  transform: translateY(0);
}

.call__room-name,
.call__room-description,
.call__close {
  height: 100%;
  display: flex;
  align-items: center;
}

.call__room-name {
  font-size: var(--font-large);
  padding: var(--space-default);
  background-color: var(--blue-color);
  color: var(--white-color);
  width: 40%;
}

.call__room-name i {
  margin-right: var(--space-default);
}

.call__room-description {
  font-size: var(--font-small);
  padding: var(--space-default);
  width: 60%;
  justify-content: center;
  padding-right: calc(var(--font-medium) * 4);
}

.call__header span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* Close */
.call__close {
  width: calc(var(--font-medium) * 4);
  height: calc(var(--font-small) * 3.5);
  position: absolute;
  right: 0;
  top: 0;
}

.call__close button {
  background-color: var(--red-color);
  font-size: var(--font-medium);
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 0;
}

.call__close button:hover {
  transform: none;
}

/* Video */
.video {
  display: flex;
  flex-direction: column;
  background-color: var(--grey-dark-color);
  height: 100%;
  width: 100%;
}

.video__peer-video,
.video__my-video {
  margin: 0 auto;
  height: 50%;
  width: 100%;
  flex: 1 1 50%;
  background-color: var(--grey-dark-color);
}

.video__peer-video {
  border-bottom: var(--border-black);
}

/* Device and chat */

.device-chat {
  height: 50%;
  display: none;
}

/* Device */
.video__device {
  display: none;
  flex-direction: column;
  padding: var(--space-default);
  border-bottom: var(--border-default);
  height: var(--device-height);
  width: 100%;
  background-color: var(--white-color);
}

.video__device.visible {
  display: flex;
}

.video__mike,
.video__camera {
  display: flex;
}

.video__mike {
  margin-bottom: calc(var(--space-default) / 2);
}

.video__device select {
  flex: 1 1 70%;
  width: 100%;
  margin-right: calc(var(--space-default) / 2);
}

.video__device button {
  flex: 1 1 30%;
  width: 100%;
}

/* Toggle button */

.toggle-device,
.toggle-chat,
.toggle-header {
  position: absolute;
  font-size: var(--font-medium);
  width: 48px;
  height: 48px;
  right: 16px;
}

.toggle-chat {
  bottom: 128px;
}

.toggle-device {
  bottom: 72px;
}

.toggle-header {
  bottom: 16px;
  background-color: var(--red-color);
}

@media screen and (min-width: 768px) {
  .call {
    height: 100%;
  }
  .call__main {
    display: flex;
    height: 100%;
  }
  .video {
    flex: 1 1 60%;
  }
  .video__peer-video {
    position: initial;
  }
  .video__mike,
  .video__camera {
    height: 50%;
  }
  .device-chat {
    display: flex;
    flex: 1 1 40%;
    height: 100%;
    width: 100%;
    position: relative;
  }
  .video__device {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
  }
  .chat {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--space-default);
    padding-top: calc(var(--device-height) + var(--space-default));
  }
  .chat__text {
    height: 85%;
  }
  .send__wrapper {
    height: 15%;
  }
  .chat__send {
    height: 100%;
  }
  .chat__send textarea {
    height: 100%;
  }

  .toggle-device,
  .toggle-chat {
    display: none;
  }

  .toggle-header {
    left: 16px;
  }
}
