.call {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/* Call Header */
.call__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.call__room-name {
  font-size: var(--font-large);
  padding: var(--space-default);
  background-color: var(--blue-color);
  color: var(--white-color);
}

.call__room-name i {
  margin-right: var(--space-default);
}

.call__room-description {
  font-size: var(--font-small);
  padding: var(--space-default);
}

/* Video */
.video {
  display: flex;
  flex-direction: column;
}

.video__peer-video,
.video__my-video {
  margin: 0 auto;
  width: 100%;
  background-color: var(--grey-dark-color);
}

.video__peer-video {
  border-bottom: var(--border-black);
  position: sticky;
  top: 0;
}

/* Device */
.video__device {
  display: flex;
  flex-direction: column;
  padding: var(--space-default);
}
.video__mike,
.video__camera {
  display: flex;
  margin-bottom: calc(var(--space-default) / 2);
}
.video__device select {
  flex: 1 1 70%;
  width: 100%;
  margin-right: calc(var(--space-default) / 2);
}
.video__device button {
  flex: 1 1 30%;
  width: 100%;
}

/* Close */
#close-fixer {
  height: auto;
  min-height: 100%;
  padding-bottom: var(--close-height);
}

.call__close {
  height: var(--close-height);
  position: relative;
  transform: translateY(-100%);
  display: flex;
  justify-content: center;
}

.call__close button {
  background-color: var(--red-color);
  width: 100%;
  border-radius: 0;
  box-shadow: none;
}

.call__close button:hover {
  transform: none;
}
