.home {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: var(--space-default);
}

@media screen and (min-width: 768px) {
  .submit {
    flex-direction: row;
  }
  .submit__user form,
  .submit__room {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .submit__user {
    margin-right: var(--space-default);
  }
  .room-list button {
    width: 49%;
  }
}
